@charset "utf-8";



.sub_visual{ padding: 100px 0; font-size: 3rem; color: #000; text-align: center;}
.sub_cs{ background: url(../img/sub3/main_3.png)no-repeat center / cover ; height: 300px;}
.sub_visual h2{ font-size: 5rem;  color: #fff; padding-top: 50px;}


.contents4{padding: 150px 0;}


.contents{padding: 50px 0 ;}


.notice form fieldset{display: flex; justify-content: flex-end; gap: 10px;}
.notice form select{padding: 5px; height: 30px; width: 80px; border: 1px solid #ccc;}
.notice form input[type="text"]{padding: 5px; width: 200px; border: 1px solid #ccc;}
.notice form input[type="submit"]{cursor: pointer; width: 50px; background: #333; color: #fff;}


.notice table{border-top: 1px solid #000; margin: 50px 0;}
.notice table th{border-bottom: 1px solid #ccc; padding: 20px;}
.notice table td{ border-bottom: 1px solid #eee; padding: 20px 0; text-align: center;}




.notice .paging{display: flex; justify-content: center; gap: 5px;}
.notice .paging li{border: 1px solid #ddd; width: 25px; text-align: center;}
.notice .paging li.last{cursor: pointer; font-size: 0; border: 0; background: url(../img/sub4/paging_first.png)no-repeat center;}
.notice .paging li.prev{cursor: pointer; font-size: 0; border: 0; background: url(../img/sub4/paging_prev.png)no-repeat center;}
.notice .paging li.next{cursor: pointer; font-size: 0; border: 0; background: url(../img/sub4/paging_next.png)no-repeat center;}
.notice .paging li.first{cursor: pointer; font-size: 0; border: 0; background: url(../img/sub4/paging_last.png)no-repeat center;}

.notice .paging li.on{ background:#000;}
.notice .paging li.on a{color: #fff;}




@media (max-width:1200px) {
 .notice table tr :first-child {display: none;}
 .notice table tr :last-child {display: none;}
 .sub_visual h2{ font-size: 4rem;}
}


@media (max-width:768px) {
    .notice table td.notice_title {max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

    .sub_visual h2{ font-size: 2.5rem;}
    .notice table td{font-size: 1.2rem;}
}


