@charset "urf-8";



.container .col-md-8{font-family: 'Sunflower';}
.container .col-md-8 h2{font-family: 'Sunflower';}

.timeline-heading h3{font-family: 'Sunflower';}
.timeline-body p{font-family: 'Sunflower';}
.services-padding{font-family: 'Sunflower';}
.feature-copy h3{font-family: 'Sunflower';}
.second-block{font-family: 'Sunflower';}
.blog-text{font-family: 'Sunflower';}
.blog-text h3{font-family: 'Sunflower';}
#fh5co-features .feature-left { width: 100%; }

#fh5co-blog .container .row .col-md-4{height: 750px;}

#fh5co-blog .container .row .col-md-4 .blog-text{height: 380px;}
#fh5co-blog .container .row .col-md-4 .blog-text p{height: 136px;}
